*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

.hero{
    position:relative;
    height:100vh;
    overflow:hidden;
}

.video-bg{
    position:absolute;
    width:100%;
    height:100%;
    object-fit:cover;
}

.overlay{
    position:absolute;
    inset:0;
    background:rgba(0,0,0,.45);
}

.conteudo{
    position:relative;
    z-index:2;

    height:100%;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.logo{
    width:min(700px,85vw);

    opacity:0;

    animation:
    adesivo 1.8s ease-out forwards,
    brilho 3s infinite alternate;
}

.btn-entrar{
    margin-top:50px;

    padding:16px 40px;

    text-decoration:none;
    color:white;

    border:2px solid white;
    border-radius:50px;

    backdrop-filter:blur(10px);

    opacity:0;

    animation: aparecerBotao .8s ease forwards;
    animation-delay:1.8s;

    transition:.3s;
}

.btn-entrar:hover{
    transform:translateY(-5px);
    background:white;
    color:black;
}
@keyframes adesivo{

    0%{
        opacity:0;
        transform:
        perspective(1000px)
        rotateX(80deg)
        scale(1.5);
    }

    40%{
        opacity:1;
    }

    70%{
        transform:
        perspective(1000px)
        rotateX(-15deg)
        scale(.95);
    }

    100%{
        transform:
        perspective(1000px)
        rotateX(0)
        scale(1);
    }

}
@keyframes brilho{

    from{
        filter:drop-shadow(0 0 10px rgba(255,255,255,.2));
    }

    to{
        filter:drop-shadow(0 0 25px rgba(255,255,255,.5));
    }
}

@keyframes aparecerBotao{

    from{
        opacity:0;
        transform:translateY(30px);
    }

    to{
        opacity:1;
        transform:translateY(0);
    }
}

